DJANGO_SETTINGS_MODULE=config.settings.develop
SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

LIQPAY_PUBLIC_KEY=
LIQPAY_PRIVATE_KEY=
LIQPAY_SERVER_URL=
LIQPAY_SANDBOX=True

NOVA_POSHTA_API_KEY=

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@oyra.ua
