{% extends 'base.html' %}
{% load static ui_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container blog-page">
  {% include 'partials/breadcrumbs.html' %}
  <header class="page-header reveal">
    <p class="blog-page__eyebrow">Oyra Journal</p>
    <h1 class="page-title">{{ page_title }}</h1>
    <p class="blog-page__lead">Огляди, поради та новини від команди Oyra.</p>
  </header>

  <div class="reveal">
    {% blog_grid_balanced page_obj show_excerpt=True heading='h2' %}
  </div>
</div>
{% endblock %}
