{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/content.css' %}">
{% endblock %}

{% block content %}
<div class="content-page content-page--center">
  {% include 'partials/breadcrumbs.html' %}
  <h1 class="content-page__title">Дякуємо за замовлення!</h1>
  <p class="content-page__body">Номер замовлення: <strong>{{ order.order_number }}</strong></p>
  <p class="content-page__body">Ми обробимо замовлення та надішлемо підтвердження на {{ order.email }}.</p>
  <div class="content-page__actions">
    <a href="{% url 'catalog:list' %}" class="btn btn--primary">Продовжити покупки</a>
  </div>
</div>
{% endblock %}
